#main-container {
  min-height: 70vh;
}

.nostyle {
  text-decoration: none;
  background-color: transparent !important;
  border: 0;
}

#nav-mobile {
  background-color: sandybrown;
  padding-top: 25px;
}

.rating-element {

}

.rating-container {
  display: flex;
  align-items: center;
  height: 35px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/*.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexChild {
  flex: 1;
  margin: 200;
  background-color: lightgrey;
}
*/
