#mainContainer {
  min-height: 70vh;
}

.nostyle {
  text-decoration: none;
  background-color: transparent !important;
  border: 0;
}

#nav-mobile {
  background-color: sandybrown;
}


/*.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexChild {
  flex: 1;
  margin: 200;
  background-color: lightgrey;
}
*/
